extends layout

block content
  main.blogMain
    if isAdmin
      h2.section-title Drafts Pending Review
      .post-container
        each post in draftTiles
          .post.draft(data-post-id=post._id)
            img(src=post.image_path alt=post.heading)
            h2.post-heading= post.heading
            .draft-badge Draft
            button.delete-button(onclick="deletePost(this)" data-post-id=post._id) 
              i.fa-solid.fa-trash-can
            .post-actions
              button.review-btn.approve-btn(onclick=`reviewPost('${post._id}', 'approve')`)
                i.fas.fa-check-circle
                span Approve
              button.review-btn.reject-btn(onclick=`reviewPost('${post._id}', 'reject')`)
                i.fas.fa-times-circle
                span Reject
            .preview-action
              a.review-btn.preview-btn(href=`/edit/preview/${post._id}` target="_blank")
                i.fas.fa-eye
                span Preview

    h2.section-title Published Posts
    .post-container
      each post in postTiles
        .post(data-post-id=post._id)
          img(src=post.image_path alt=post.heading)
          h2.post-heading= post.heading
          button.delete-button(onclick="deletePost(this)" data-post-id=post._id) 
            i.fa-solid.fa-trash-can
          .post-actions
            a.edit-btn(href=`/${post.url}`)
              i.fas.fa-edit
              span Edit

block styles
  script(src="/js/dashboard.js")