extends partials/appHeader


block content
  main.col-12.col-sm-12.col-md-8.col-lg-6
    h1 Blog Posts
    each postTile in postTiles
      a(href=`/${postTile.url}`) 
        .postCard
          img.img-responsive(src= postTile.image_path)
          h2= postTile.heading
  main.blogMain
    .post-container
      p astarst
      each post in postTiles
        .post
          img(src=post.image_path alt=post.heading)
          h2.post-heading.eg5(onmouseover="toggleDeleteButton(this)") #{post.heading}
          button.delete-button(onclick="deletePost(this)" hidden) 
            i.fa-solid.fa-trash-can
  include partials/footer